PKI ACME Server - clients fail to register on Infisical ACME server as RFC 8555 Section 7.2 is not fully implemented

### Describe the bug
Thank you for Infisical and having its source code available. Makes it easier to work through compatibility issues.

An ACME client compatible with RFC 8555 Section 7.2 is unable to register an ACME account on the Infisical PKI ACME server as the Infisical ACME server does not support GET requests for /new-nonce.

The fault is with Infisical ACME server as its implementation of RFC 8555 Section 7.2 is incomplete.

RFC 8555 Section 7.2 states "The server MUST also respond to GET requests for this resource, returning an empty body (while still providing a Replay-Nonce header) with a status code of 204 (No Content)."

However, the PKI ACME server only has HEAD requests implemented for /new-nonce as seen in infisical/backend/src/ee/routes/v1/pki-acme-router.ts lines 103 - 128. The comment for the code only mentions HEAD support for RFC 8555 section 7.2.

### To Reproduce

The client used is the proxmox virtualisation environment built in acme client. Also reproduced on firewalls and other embedded acme clients.

1. Create an ACME certificate profile in Infisical PKI and reveal ACME EAB details.
2. On the client attempt to register to Infisical ACME server using the EAB credentials and paths from step 1.
3. The following output shows the error.

~~~
># pvenode acme account register infisical myemail@example.com --directory https://ca.example.com/api/v1/cert-manager/acme/profiles/UUID_SCRUBBED/directory

Attempting to fetch Terms of Service from 'https://ca.example.com/api/v1/cert-manager/acme/profiles/UUID_SCRUBBED/directory'..
No Terms of Service found, proceeding.
The CA requires external account binding.
You should have received a key id and a key from your CA.
Enter EAB key id: EAB_KEY_ID_SCRUBBED
Enter EAB key: EAB_SECRET_SCRUBBED

Attempting to register account with 'https://ca.example.com/api/v1/cert-manager/acme/profiles/UUID_SCRUBBED/directory'..
Generating ACME account key..
Registering ACME account..
Registration failed: Error: GET to https://ca.example.com/api/v1/cert-manager/acme/profiles/UUID_SCRUBBED/new-nonce {"message":"Route GET:/api/v1/cert-manager/acme/profiles/UUID_SCRUBBED/new-nonce not found","error":"Not Found","statusCode":404} 
Task Registration failed: Error: GET to https://ca.example.com/api/v1/cert-manager/acme/profiles/UUID_SCRUBBED/new-nonce {"message":"Route GET:/api/v1/cert-manager/acme/profiles/UUID_SCRUBBED/new-nonce not found","error":"Not Found","statusCode":404} 
~~~

### Expected behavior
Expected a successful ACME account registration with the provided EAB credentials and profile path.

### Platform you are having the issue on:
Proxmox virtualisation environment 9.1.
